/* tache-dialog.component.css */
.form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-field {
    flex: 1;
    margin-right: 10px;
  }
  
  .mat-dialog-content {
    padding: 20px;
  }
  
  .mat-dialog-actions {
    justify-content: flex-end;
    padding: 20px;
  }
  