<footer class="pt-7 pt-lg-8 bg-light">
      <div class="row gy-2 py-3 justify-content-center justify-content-md-between">
        <div class="col-auto ps-0">
          <p class="text-center text-md-start lh-xl text-1100"> © 2024 Copyright, All Right Reserved<a class="fw-semi-bold text-decoration-none" href="https://themewagon.com/">Enicarthage </a>❤️</p>
        </div>
        <div class="col-auto pe-0">
          <a class="icons fs-8 me-3 me-md-0 ms-md-3 cursor-pointer text-decoration-none" href="#!"><span class="bx bxl-twitter"></span></a>
          <a class="icons fs-8 me-3 me-md-0 ms-md-3 cursor-pointer text-decoration-none" href="#!"><span class="bx bxl-instagram"></span></a>
          <a class="icons fs-8 me-3 me-md-0 ms-md-3 cursor-pointer text-decoration-none" href="#!"><span class="bx bxl-linkedin"></span></a>
        </div>
      </div>
</footer>
  
